name: flutter_timetable
description: Displays a timetable for dates and times on items in a list.
version: 0.0.1
repository: https://github.com/yourfriendken/flutter_timetable

environment:
  sdk: ">=2.17.5 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  intl: ^0.17.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
